* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /*background: #36454F;*/
  margin: 0;
  /*font-family: 'century gothic';*/
  /*font: 15px Montserrat, sans-serif;*/
  /*font-family: 'Anonymous Pro', monospace;*/
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.5em;
  
}

body hr{
  color: #a1978d;
}

/*UNIVERSAL-ELEMENTS*/
/*DESKTOP*/

.content-container {
  width: 50%;
  margin: 0 auto;
}
.content-container h1{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 3em;
  padding: 1em;
  color:#a1978d;
}
.content-container h2{
  width: 100%;
  text-align: center;
  color:black;
  padding: 1.5em;
}

.content-para{
  text-align: left;
  padding: 1em;
  font-size: 1em;
  color: #111;
  width: 100%;
}

.content-container ul {
  list-style-position: inside;
  display: table;
  margin: 0 auto;
  list-style: square;
  color:#a1978d;
  padding: 1em;
}

.hyper-link{
  color: #a1978d;
  text-decoration: underline;
}

div.content-update {
  padding: 2em;
  font-size: 1em;
  color: #a1978d;
  margin: auto 0;
  display: flex;
  justify-content: center;
}

.update-color{
  color: black;
}

div.content-lang{
  text-align: center;
}

div.content-lang p{
  padding: 1em;
}

div.apple{
  font-size: 5em;
  width: 100%;
  color: black;
}


/*
video {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6), 0 6px 6px rgba(0,0,0,0.6);
}
*/


.lang {
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
}

.font {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
}


/*MOBILE SCREEN*/

.intro {
  width: 100%;
}

/*NAVBAR*/

ul, ol { 
  list-style: none; 
}
header {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  box-sizing: border-box;
  overflow: hidden;
  list-style: none;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

header:before {
  content: "";
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 60s linear .5s infinite;
}

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header nav .logo { 
  color: #000; 
  font-size: 2em; 
  text-transform: uppercase; 
  padding: 20px 20px 10px 20px;
}

header nav .logo a { color: #000; }

header nav ul {
  display: flex;
  flex-wrap: wrap;
}

header nav li a {
  font-size: 1em;
  color: #a1978d;
  display: block;
  position: relative;
  padding: 20px 20px 10px;
}

header nav li a:before, header nav li a:after {
  content: "";
  bottom: 0;
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  color: #a1978d;
  background-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;  
}

header nav li a:before { right: 50%; }
header nav li a:after { left: 50%; }

header nav li a:hover:before , header nav li a:hover:after {
  width: 20%;
}

@keyframes grow {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.6) rotate(10deg);}
}

@-webkit-keyframes grow {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.6) rotate(10deg);}
}

@media only screen and (max-width: 290px) {
  header nav ul { 
    width: 100%; 
    text-align: center;
    flex-direction: column; 
  }
}


.navbar h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    /*font-family: arial rounded mt;*/
    cursor: pointer;
}

.navbar h1 span{
    display: inline-flex;
    color: #a1978d;
}

.navbar h1 span:nth-child(even){
    overflow: hidden;
    transition: ease-in-out 0.1s;
    color: #000;
    border-bottom: 2px solid black;
    letter-spacing: -1em;
}

.navbar:hover span:nth-child(even){
    letter-spacing: 0;
    cursor: pointer;
}

.navbar:hover span:nth-child(2){
    transition-delay: 0s;
}

.navbar:hover span:nth-child(4){
  letter-spacing: normal;
    transition-delay: 0.1s;

}

.navbar:hover span:nth-child(6){
    transition-delay: 1s;
}

/*END*/

/*INTRO-CONTAINER*/

.intro-container{
  text-align: center;
  margin: 0;
  color: #a1978d;
  position: absolute;
  display:inline;
  width: 100%;
  top: 50%;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%, -50%) 
}

.intro-container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.span-container{
  text-align: center;
  font-size: 1em;
  padding: 1em;
}

div.arrow-container {
  position: absolute;
  padding: 1em;
  width: 100%;
  bottom: 1em;
  text-align: center;
} 
div.arrow-container p{
   color: #000;
}

#arrow p {
  padding-top: 60px;
}
#arrow p span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/*END*/

/*INTRO-CARD*/
.intro-card {
  border-radius: 1em;
  margin: auto;
  height: 80vh;
  position: relative;
  width: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-size:100% 100%;
}

/*
.intro-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.intro-card:hover {
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.10);
}
*/


/*END*/

/*ABOUT*/

.about{
  height: auto;
  width: 100%;
}

/*SCHOOL-IMAGE*/

.school {
  padding: 20px;
  width: 100%;
}

/*END*/

/*PROJECTS*/

div.projects{
  height: auto;
  width: 100%;
}

/*CARD-PROJECTS*/

.project-shadow {
  background: #fff;
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 1rem;
  position: relative;
  border-radius: 1em;
}

.project-shadow img{
  height: 100%;
  width: 100%;
  padding: 1em;
}

.project-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-shadow:hover {
  box-shadow: 0 1px 10px rgba(0,0,0,0.15), 0 1px 10px rgba(0,0,0,0.10);
/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.project-shadow:after {
  content: 'Learn more »';
  position: absolute;
  opacity: 0;  
  left: 0;
  bottom: .2em;
  right: -20px;
  transition: 0.5s;
  color: black;
}

/*
.project-shadow:hover{
  padding-right: 90px;
  padding-left:8px;
}
*/

.project-shadow:hover:after {
  opacity: 1;
  right: 5px;
}

.cards-project {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.card-project {
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  flex: 1 18rem;
  max-width: 18rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}

.project-container {
  margin-bottom: 1rem;
  flex: 1 30rem;
  max-width: 30rem;
  width: 100%;
  height: 100%;
}

.project-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);*/
}

/*CONTACTS*/

div.contacts {
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.contacts a {
  color: #a1978d;
  font-size: 1.5em;
  text-decoration: underline;
}

div.contacts span{
  padding: 1em;
  width: 100%;
}

div.social {
  width: 100%;
  padding-top: 2em;
  text-align: center;
}

.calling:hover{
  color: black  ;
}
.fb:hover{
  color: #4267B2;
}
.gmail:hover{
  color: #DB4437;
}

div.vm p{
  text-align: center;
  width: 100%;
  padding: 1em;
}

/*material you inspired*/

div.curves {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  border-radius: 10em;
  background-color: #65ffa0;
}

/*END*/


.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(4, 98%, 60%);
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em,-3.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,1em,0);
}

/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em,-7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em,-6.3em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(6.5em,-3.2em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em,1em,0);
}


  /*MOBILE*/
  @media only screen and (max-width: 800px){
    body {
      /*background: #36454F;*/
      margin: 0;
      font-size: 1em;
      /*font-size: 1.2em;*/
      /*font-family: 'century gothic';*/
    }
  
    .content-container {
      width: 100%;
    }
  
    .intro-container img{
      width: 15%;
    }
  
    .intro-container{
      font-size: 1em;
    }
    rig-img {
      /*display:block;*/
      width: 100%;
      }
    }




