* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /*background: #36454F;*/
  margin: 0;
  /*font-family: 'century gothic';*/
  /*font: 15px Montserrat, sans-serif;*/
  /*font-family: 'Anonymous Pro', monospace;*/
  font-family: 'Anonymous Pro', monospace;
  font-size: 1em;
}

body hr{
  color: #a1978d;
}

/*UNIVERSAL-ELEMENTS*/

.content-container {
  width: 100%;
}
.content-container h1{
  width: 100%;
  font-size: 2.5em;
  padding: 1em;
  color:#a1978d;
}
.content-container h2{
  width: 100%;
  text-align: center;
  color:black;
  padding: 2em;
}

.content-para{
  text-align: left;
  padding: 1em;
  font-size: 1em;
  color: #111;
}

.content-container ul {
  list-style-position: inside;
  display: table;
  margin: 0 auto;
  list-style: square;
  color:#a1978d;
  padding: 1em;
}

.hyper-link{
  color: #a1978d;
  text-decoration: underline;
}

div.content-update {
  padding: 2em;
  font-size: 1em;
  color: #a1978d;
  margin: auto 0;
  display: flex;
  justify-content: center;
}

div.content-lang{
  text-align: center;
}

div.content-lang p{
  padding: 1em;
}


/*
video {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6), 0 6px 6px rgba(0,0,0,0.6);
}
*/
.lang {
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
}

.font {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
}



/*MOBILE SCREEN*/

.intro {
  width: 100%;
}

/*NAVBAR*/

ul, ol { 
  list-style: none; 
}
header {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  box-sizing: border-box;
  overflow: hidden;
  list-style: none;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

header:before {
  content: "";
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 60s linear .5s infinite;
}

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header nav .logo { 
  color: #000; 
  font-size: 2em; 
  text-transform: uppercase; 
  padding: 20px 20px 10px 20px;
}

header nav .logo a { color: #000; }

header nav ul {
  display: flex;
  flex-wrap: wrap;
}

header nav li a {
  font-size: 1em;
  color: #a1978d;
  display: block;
  position: relative;
  padding: 20px 20px 10px;
}

header nav li a:before, header nav li a:after {
  content: "";
  bottom: 0;
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  color: #a1978d;
  background-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;  
}

header nav li a:before { right: 50%; }
header nav li a:after { left: 50%; }

header nav li a:hover:before , header nav li a:hover:after {
  width: 20%;
}

@keyframes grow {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.6) rotate(10deg);}
}

@-webkit-keyframes grow {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.6) rotate(10deg);}
}

@media only screen and (max-width: 290px) {
  header nav ul { 
    width: 100%; 
    text-align: center;
    flex-direction: column; 
  }
}


.navbar h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    /*font-family: arial rounded mt;*/
    cursor: pointer;

}

.navbar h1 span{
    display: inline-flex;
    color: #a1978d;
}

.navbar h1 span:nth-child(even){
    overflow: hidden;
    transition: ease-in-out 0.1s;
    color: #000;
    border-bottom: 2px solid black;
    letter-spacing: -1em;
}

.navbar:hover span:nth-child(even){
    letter-spacing: 0;
    cursor: pointer;
}

.navbar:hover span:nth-child(2){
    transition-delay: 0s;
}

.navbar:hover span:nth-child(4){
  letter-spacing: normal;
    transition-delay: 0.1s;

}

.navbar:hover span:nth-child(6){
    transition-delay: 1s;
}


/*END*/

/*INTRO-CONTAINER*/

.intro-container{
  text-align: center;
  margin: 0;
  color: #a1978d;
  position: absolute;
  display:inline;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) 
}

.intro-container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.span-container{
  text-align: center;
  font-size: 1em;
  padding: 1em;
}

div.arrow-container {
  position: absolute;
  padding: 1em;
  width: 100%;
  bottom: 1em;
  text-align: center;
} 
div.arrow-container a{
   color: #000;
}

#arrow a {
  padding-top: 60px;
}
#arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/*END*/

/*INTRO-CARD*/
.intro-card {
  margin: auto;
  margin: auto;
  border-radius: 0px;
  height: 100vh;
  margin: 1rem;
  position: relative;
  width: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-size:100% 100%;
}

.intro-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.intro-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*END*/

/*ABOUT*/

.about{
  height: auto;
  width: 100%;
}

/*SCHOOL-IMAGE*/

.school {
  padding: 20px;
  width: 100%;
}

/*END*/

/*PROJECTS*/

div.projects{
  height: auto;
  width: 100%;
}

/*CARD-PROJECTS*/

.cards-project {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.card-project {
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  flex: 1 18rem;
  max-width: 18rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}

/*

.card-projectSS {
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  flex: 1 30rem;
  max-width: 30rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6), 0 6px 6px rgba(0,0,0,0.6);
}

*/

.card-projectZoom {
  transition: transform 10s; /* Animation */
  margin-bottom: 1rem;
  flex: 1 30rem;
  max-width: 30rem;
  width: 100%;
  height: 100%;
}

.zoom {
  transition: transform .4s;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}


.card-project a{
  color: #a1978d;
}

div.link-project{
  text-align: center;
}

.img > img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.body {
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1.5rem 1rem;
  transition: .5s;
}

.title {
  padding: 2em;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, .5)
}

.text {
  height: auto;
  font-size: 1rem;
  color: white;
/*   text-shadow: 0 0 2px #000; */
}

.card-project:hover .img > img {
  filter: brightness(30%);
}

.btn {
  display: block;
  margin: auto;
  margin-top: 1rem;
  border: none;
  padding: .3rem 1rem;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.card-project:hover .body {
  opacity: 0.9;
  background: #000;
  bottom: 0rem;
  top: 0rem;
} 

div.github{
  text-align: center;
  padding: 2em;
}
div.github a{
  color: #a1978d;
  font-size: 1.5em;
  text-decoration: underline;
}

/*END*/

/*TECHNOLOGIES*/
.technologies{
  height: auto;
  width: 100%;
}

/*technologies*/

.tech-container {
  width: 100%;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}
.tech-container p{
  padding: 3em;
}

.tech img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.tech a{
  color: #a1978d;
  text-decoration: underline;
}

.center {
  text-align: center;
}

/*END*/

/*PRO MEMBER*/

div.pro{
  color: #fff;
  padding: 20px;
}

div.pro ul, li{
  padding: 10px;
  justify-content: center;
}

.col {
  margin: 10px;
  background: #a1978d;
}

/* Layout: */
.col-main {
  flex: 1;  
}  

.col-complementary {
  flex: 1;  
}

div.layout h2{
  padding: 1em;
}

/* etc 

.container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

*/

/*END*/

/*CONTACTS*/

div.contacts {
  width: 100%;
  height: auto;
}

div.contacts a {
  color: #a1978d;
  font-size: 1.5em;
  text-decoration: underline;
}

div.contacts span{
  padding: 1em;
  width: 100%;
}


div.social {
  width: 100%;
  padding-top: 2em;
  text-align: center;
}

.calling:hover{
  color: black  ;
}
.fb:hover{
  color: #4267B2;
}
.gmail:hover{
  color: #DB4437;
}

div.vm p{
  text-align: center;
  width: 100%;
  padding: 3em;
}

/*END*/

/*TABLET*/
@media only screen and (min-width: 1080px){
  body {
    /*background: #36454F;*/
    margin: 0;
    font-size: 1.2em;
    /*font-family: 'century gothic';*/
  }
  .content-container {
    width: 50%;
    margin: 0 auto;
  }

  .intro-container img{
    width: 15%;
  }

  .intro-container{
    font-size: 2em;
  }
}

/*DESKTOP
@media only screen and (min-width: 1000px){
  .content-container {
    width: 600px;
    margin: 0 auto;
  }
  .img-me {
    width: 100%;
  }
  .card-shadow {
    height: 800px;
  }
}
*/

#rig {
  max-width:900px;
  margin:0 auto; /*center aligned*/
  padding:0;
  font-size:0; /* Remember to change it back to normal font size if have captions */
  list-style:none;
}
#rig li {
  display: inline-block;
  *display:inline;/*for IE6 - IE7*/
  width:25%;
  vertical-align:middle;
  box-sizing:border-box;
  margin:0;
}
      
/* The wrapper for each item */
.rig-cell {
  /*margin:12px;
  box-shadow:0 0 6px rgba(0,0,0,0.3);*/
  display:block;
  position: relative;
  overflow:hidden;
}
      
/* If have the image layer */
.rig-img {
  display:block;
  width: 100%;
  height: auto;
  border:none;
  transform:scale(1);
  transition:all 1s;
}

#rig li:hover .rig-img {
  transform:scale(1.05);
}
      
/* If have the overlay layer */
.rig-overlay {
  position: absolute;
  display:block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #a1978d no-repeat center 20%;
  background-size:50px 50px;
  opacity:0;
  filter:alpha(opacity=0);/*For IE6 - IE8*/
  transition:all 0.6s;
}
#rig li:hover .rig-overlay {
  opacity:0.8;
}

/* If have captions */
.rig-text {
  display:block;
  padding:0 30px;
  box-sizing:border-box;
  position:absolute;
  left:0;
  width:100%;
  text-align:center;
  text-transform:capitalize;
  font-size:18px;
  font-weight:bold;
  font-weight:normal!important;
  top:40%;
  color:white;
  opacity:0;
  filter:alpha(opacity=0);/*For older IE*/
  transform:translateY(-20px);
  transition:all .3s;
}
#rig li:hover .rig-text {
  transform:translateY(0px);
  opacity:0.9;
}

@media (max-width: 9000px) {
  #rig li {
      width:20%;
  }
}

@media (max-width: 700px) {
  #rig li {
      width:33.33%;
  }
}

@media (max-width: 550px) {
  #rig li {
      width:50%;
  }
}


@media (max-width: 280px) {
#rig li {
    width:80%;
}
}

.img-shadow{
text-align: center;
background: #fff;
border-radius: 2px;
display: inline-block;
height: 300px;
margin: 1rem;
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 1em;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}





